// This file contain all the little hack and the unclassify css code

.header {
    color: #dd4b39;
    font-size: 14px;
    font-weight: bold;
    padding-bottom: .5em;
    margin-bottom: 0;
    font-family: "lato", "sans-serif";
}

.divider {
  border-bottom: 1px solid rgb(240, 240, 240);
  display: flex;
  justify-content: space-between;
}
