.bookmark{
  box-shadow: -1px 1px 2px #aaa;
  background-color: rgba(0, 0, 0, 0.01);
}

.bookmark-thumbnail{
    background-image: url("https://i.scdn.co/image/28719ca07d523d2d4f3061fa15432c43d6cd56df");
    background-size: cover;
    background-position: center center;
    width: 80px;
    min-width: 80px;
}

.bookmark-tag-list{
  margin-top: 13px;
  flex-wrap: wrap;
}
.bookmark-icon-delete{
  font-size: 22px;
}
.bookmark-title{
  font-size: 14px;
  font-weight: 400;
  font-family: 'Roboto Condensed', sans-serif;
  color: rgba(0, 0, 0, 0.87);
  height: 1.1em;
}

.bookmark-url {
    font-family: 'Roboto Condensed',sans-serif;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.7);
    height: 1.1em;
}

.bookmark-center {
    overflow: hidden;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.7);
}
