// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;
$white: #FFFFFF;
$silver: #bdc3c7;

.bc-g{
  background-color: $light-gray;
}
.bc-w {
  background-color: white;
}

.bc-s{
  background-color: $silver
}
