.fx-r-sa{
  display: flex !important;
  justify-content: space-around !important;
}

// Flex Colomns
.fx-c-sb{
  display: flex !important;
  flex-direction: column;
  justify-content: space-between !important;
}
